---
import Layout from "../layouts/Layout.astro";
---

<style>
    main {
        margin: auto;
        padding: 1em;
        max-width: 60ch;
    }
</style>

<Layout title="About" current="about">
    <main>
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu non
            odio euismod lacinia at quis risus sed. Urna duis convallis
            convallis tellus id interdum velit laoreet id. Sollicitudin aliquam
            ultrices sagittis orci a scelerisque. Duis ultricies lacus sed
            turpis tincidunt id aliquet risus. Pellentesque habitant morbi
            tristique senectus et. Ut placerat orci nulla pellentesque dignissim
            enim sit. Lorem ipsum dolor sit amet consectetur. Magna eget est
            lorem ipsum dolor sit. Dictumst vestibulum rhoncus est pellentesque
            elit. A lacus vestibulum sed arcu non odio euismod lacinia at. Ipsum
            nunc aliquet bibendum enim. Lectus vestibulum mattis ullamcorper
            velit sed ullamcorper morbi tincidunt ornare. Suscipit adipiscing
            bibendum est ultricies integer quis auctor elit sed. At ultrices mi
            tempus imperdiet nulla malesuada pellentesque. Sagittis aliquam
            malesuada bibendum arcu. Euismod nisi porta lorem mollis aliquam ut.
            Tincidunt arcu non sodales neque sodales. Sed enim ut sem viverra
            aliquet eget sit. Sollicitudin nibh sit amet commodo nulla facilisi
            nullam. Interdum varius sit amet mattis vulputate enim nulla
            aliquet. Pharetra massa massa ultricies mi quis hendrerit dolor.
            Enim ut tellus elementum sagittis vitae et leo duis. Egestas dui id
            ornare arcu odio. Dolor purus non enim praesent. Cras pulvinar
            mattis nunc sed. Magna ac placerat vestibulum lectus mauris ultrices
            eros in cursus. Proin nibh nisl condimentum id venenatis. Convallis
            tellus id interdum velit. Risus nullam eget felis eget nunc. Viverra
            vitae congue eu consequat ac felis. Porta nibh venenatis cras sed
            felis eget velit aliquet. Tincidunt arcu non sodales neque sodales
            ut etiam sit. Vitae congue mauris rhoncus aenean vel elit
            scelerisque mauris. Orci ac auctor augue mauris augue neque gravida.
            Massa placerat duis ultricies lacus sed turpis tincidunt id. Ipsum a
            arcu cursus vitae congue mauris rhoncus aenean. At imperdiet dui
            accumsan sit amet. Pharetra diam sit amet nisl suscipit. Quis
            viverra nibh cras pulvinar mattis nunc sed blandit. Sem viverra
            aliquet eget sit amet tellus cras adipiscing. Sem fringilla ut morbi
            tincidunt augue. Eu nisl nunc mi ipsum. Lacus viverra vitae congue
            eu. Pulvinar sapien et ligula ullamcorper malesuada proin.
            Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi
            tristique. Ac tincidunt vitae semper quis lectus nulla at volutpat.
            Purus faucibus ornare suspendisse sed nisi lacus sed. Ultrices
            gravida dictum fusce ut placerat orci nulla.
        </p>
    </main>
</Layout>
