---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" current="about">
  <main>
    <h1>
      Who is Bone Shark and what are we <span class="text-gradient">ABOUT</span>
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Sit amet volutpat
      consequat mauris nunc congue nisi vitae. Et malesuada fames ac turpis
      egestas maecenas. Convallis tellus id interdum velit laoreet id. Vel
      fringilla est ullamcorper eget nulla. Ante metus dictum at tempor commodo
      ullamcorper a lacus. Odio tempor orci dapibus ultrices in iaculis nunc sed
      augue. Pulvinar proin gravida hendrerit lectus. Eget nullam non nisi est
      sit amet facilisis magna. Dui ut ornare lectus sit amet est placerat.
      Vitae justo eget magna fermentum iaculis eu non diam phasellus. Diam
      vulputate ut pharetra sit amet aliquam id diam maecenas. Velit scelerisque
      in dictum non consectetur a. Quis blandit turpis cursus in hac habitasse
      platea dictumst. Ac tincidunt vitae semper quis lectus nulla. Ligula
      ullamcorper malesuada proin libero. Scelerisque in dictum non consectetur.
      Leo in vitae turpis massa. Nisl vel pretium lectus quam id leo. Semper
      feugiat nibh sed pulvinar proin. In metus vulputate eu scelerisque felis
      imperdiet proin fermentum leo. Cras ornare arcu dui vivamus arcu felis
      bibendum ut tristique. Et tortor at risus viverra adipiscing at in tellus.
      Morbi tempus iaculis urna id volutpat lacus laoreet. Velit egestas dui id
      ornare arcu odio. Ultrices eros in cursus turpis massa tincidunt dui ut.
      Convallis tellus id interdum velit laoreet id donec. Diam quis enim
      lobortis scelerisque fermentum. Adipiscing commodo elit at imperdiet dui
      accumsan. Enim lobortis scelerisque fermentum dui faucibus in ornare quam.
      Egestas fringilla phasellus faucibus scelerisque eleifend donec. Diam
      phasellus vestibulum lorem sed risus ultricies. Mauris a diam maecenas sed
      enim. Ultrices gravida dictum fusce ut. Sed adipiscing diam donec
      adipiscing. Suspendisse sed nisi lacus sed viverra. Egestas egestas
      fringilla phasellus faucibus. At volutpat diam ut venenatis tellus in.
      Praesent tristique magna sit amet purus gravida quis blandit turpis.
      Pretium viverra suspendisse potenti nullam ac tortor vitae purus. Lectus
      sit amet est placerat in egestas erat imperdiet. Enim diam vulputate ut
      pharetra. Phasellus vestibulum lorem sed risus ultricies tristique. Nunc
      aliquet bibendum enim facilisis gravida neque convallis a cras. Arcu non
      odio euismod lacinia at quis risus sed vulputate. Cursus in hac habitasse
      platea dictumst. Odio euismod lacinia at quis risus.
    </p>
  </main>
</MainLayout>

<style>
  p {
    background-color: #18a89023;
    border-radius: 1rem;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #18a890ad;
    padding: 2em;
  }
</style>
