---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
const posts = await Astro.glob("./posts/*.md"); // returns an array of posts that live at ./src/pages/post/*.md
---

<MainLayout title="Articles" current="articles">
  <main>
    <h1>
      Here you can find all of my <span class="text-gradient">ARTICLES</span>
    </h1>
    <ul role="list" class="link-card-grid">
      {
        posts.map((post) => (
          <Card
            href={post.frontmatter.url}
            title={post.frontmatter.title}
            body={post.frontmatter.description}
          />
        ))
      }
    </ul>
  </main>
</MainLayout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    gap: 1rem;
    padding: 0;
    margin: 10px;
  }
</style>
