---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const posts = await Astro.glob("./posts/*.md"); // returns an array of posts that live at ./src/pages/post/*.md
---

<Layout title="Blog" current="blog">
    <main>
        <h1>Blog</h1>
        <ul role="list" class="link-card-grid">
            {
                posts.map((post) => (
                    <Card
                        href={post.frontmatter.url}
                        title={post.frontmatter.title}
                        body={post.frontmatter.description}
                    />
                ))
            }
        </ul>
    </main>
</Layout>
