---
import Layout from "../layouts/Layout.astro";
---

<style>
    main {
        margin: auto;
        padding: 1em;
        max-width: 60ch;
    }
</style>

<Layout title="Blog" current="blog">
    <main>
        <h1>Blog</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
            impedit omnis vitae ipsam doloribus repellat molestias cumque
            ducimus, a recusandae maxime quis inventore soluta ea. Debitis nulla
            quaerat qui minus!
        </p>
    </main>
</Layout>
