---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Contact" current="contact">
  <div class="login-box">
    <h2>Contact</h2>
    <form id="contact" netlify>
      <div class="user-box">
        <input type="text" name="" required="" />
        <label>Name</label>
      </div>

      <div class="user-box">
        <input type="text" name="" required="" />
        <label>Email</label>
      </div>
      <div class="user-box">
        <textarea form="contact" rows="4" cols="43" name="" required=""
        ></textarea>
        <label>Enter message here...</label>
      </div>

      <button class="noselect">
        <span>Submit</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"
          ></path>
        </svg>
      </button>
    </form>
  </div>
</MainLayout>

<style>
  *,
  :before,
  :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .login-box {
    position: absolute;
    top: 400px;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }

  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .login-box .user-box {
    position: relative;
  }

  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }

  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

  .login-box .user-box textarea:focus ~ label,
  .login-box .user-box textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

  .login-box .user-box input[type="email"]:invalid ~ {
    color: pink;
  }

  button {
    width: 150px;
    height: 50px;
    background: none;
    border: 4px solid #0071b3;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms;
  }

  span,
  svg {
    position: absolute;
    color: #ffffff;
    fill: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }

  button:focus {
    outline: none;
    border: 2px solid #1e2a78;
    width: 50px;
    border-left: 4px solid #1e2a78;
    border-bottom: 4px solid #1e2a78;
    animation: spin 2s 500ms forwards;
  }

  button:focus span {
    color: transparent;
  }

  button:focus svg {
    animation: check 500ms 2300ms forwards;
  }

  @keyframes spin {
    80% {
      border: 4px solid transparent;
      border-left: 4px solid #303a52;
    }
    100% {
      transform: rotate(1080deg);
      border: 4px solid #303a52;
    }
  }

  @keyframes check {
    to {
      fill: #17b978;
    }
  }

  @keyframes circle {
    to {
      border: 4px solid #303a52;
      color: blue;
    }
  }
</style>
