---
import Layout from "../layouts/HeroLayout.astro";
---

<script>
  import { rotatingText } from "../scripts/rotatingText";

  rotatingText();
</script>
<Layout title="Nicholas Voelker" current="">
  <div class="container">
    <div class="hero">
      <h1>
        Hello, my name is
        <span class="text-gradient">Nick</span>
      </h1>
    </div>
    <div class="rotatingText">
      <p>Nachos are</p>
      <div id="word"></div>
    </div>
    <div class="intro">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione rerum
        omnis assumenda harum tempora dignissimos!
      </p>
    </div>
    <div class="nav">
      <a href="/work">
        <div class="buttonContainer"><p class="shake">Work</p></div>
      </a>
      <a href="about">
        <div class="buttonContainer"><p class="shake">About</p></div>
      </a>
      <a href="posts">
        <div class="buttonContainer"><p class="shake">Posts</p></div>
      </a>
    </div>
  </div>
</Layout>

<style>
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

  *,
  :before,
  :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    min-height: 100vh;
  }

  body {
    /* overflow: hidden; */
    min-height: 100vh;
  }

  .container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 60%;
    grid-template-areas:
      "hero intro"
      "img nav";
    justify-items: center;
    align-items: center;
  }

  @media only screen and (max-width: 768px) {
    body {
      overflow: visible;
    }
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 150px 150px 200px 300px;
      grid-template-areas:
        "hero"
        "intro"
        "img"
        "nav";
    }
  }

  .hero {
    grid-area: hero;
  }

  .intro {
    grid-area: intro;
  }

  .rotatingText {
    grid-area: img;
  }

  .nav {
    grid-area: nav;
    align-self: start;
  }

  h1 {
    font-family: "Permanent Marker", cursive;
    font-size: var(--font-size-xl);
    transform: rotate(-15deg);
  }

  p {
    font-size: var(--font-size-lg);
    font-weight: 700;
    text-align: center;
  }

  .shake {
    font-size: 3em;
    font-weight: 900;
    width: 4em;
  }

  .buttonContainer {
    text-align: center;
    margin-top: 35px;
  }

  .buttonContainer:hover .shake {
    animation: 1.5s ease-in-out text-shadow;
  }

  @keyframes text-shadow {
    0% {
      transform: translateY(0);
      text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
    }

    20% {
      transform: translateY(-0.5em);
      text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
        0 -0.25em 0 #fefc4b;
    }

    40% {
      transform: translateY(0.25em);
      text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
        0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
    }

    60% {
      transform: translateY(-0.125em);
      text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
        0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
    }

    80% {
      transform: translateY(0);
      text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
</style>
