---
import Layout from "../layouts/Layout.astro";
import RotatingText from "../components/RotatingText.astro";
---

<Layout title="Bone Shark" current="">
  <div class="container">
    <p>Welcom to</p>
    <h1>
      <span class="text-gradient">Bone Shark</span>
    </h1>
    <RotatingText />
  </div>
</Layout>

<style>
  *,
  :before,
  :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
  }

  .container {
    padding: 2rem 10rem;
  }

  .subtle {
    opacity: 0.55;
  }
</style>
