---
import MainLayout from "../layouts/MainLayout.astro";
import RotatingText from "../components/RotatingText.astro";
---

<MainLayout title="Bone Shark" current="">
  <div class="container">
    <h2>Welcome to</h2>
    <h1>
      <span class="text-gradient">Bone Shark</span>
    </h1>
    <RotatingText />
  </div>
</MainLayout>

<style>
  *,
  :before,
  :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
    white-space: nowrap;
  }
</style>
