---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to theLog." current="">
	<main>
		<h1>Welcome to <span class="text-gradient">theLog</span></h1>
		<p class="instructions">Check out the latest blog post!</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="#"
				title="My First Post"
				body="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
			/>
			<Card
				href="#"
				title="The Terminal"
				body="non blandit massa enim nec."
			/>
			<Card
				href="#"
				title="Using VIM"
				body="massa eget egestas purus viverra accumsan in."
			/>
			<Card
				href="#"
				title="Learning"
				body="in fermentum et sollicitudin ac orci"
			/>
		</ul>
	</main>
</Layout>

<style>
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
