---
import Layout from "../layouts/HeroLayout.astro";
import RotatingText from "../components/RotatingText.astro";
import ShakingButtons from "../components/ShakingButtons.astro";
---

<Layout title="Nicholas Voelker" current="">
  <div class="container">
    <p>Hi, my name is</p>
    <h1>
      <span class="text-gradient">Nick</span>
    </h1>
    <RotatingText />
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione rerum
      omnis assumenda harum tempora dignissimos!
    </p>

    <ShakingButtons />
  </div>
</Layout>

<style>
  *,
  :before,
  :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    min-height: 100vh;
  }

  .container {
    padding: 2rem 10rem;
  }
</style>
