---
import MainLayout from "../layouts/MainLayout.astro";
import RotatingText from "../components/RotatingText.astro";
---

<MainLayout title="Bone Shark" current="">
  <div class="container">
    <h1>Welcome to</h1>
    <div class="title">
      <span class="text-gradient">Bone Shark</span>
    </div>
    <RotatingText />
    <p id="mainParagraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex reiciendis quaerat, quidem quam recusandae expedita odio atque amet unde? Aliquam porro hic excepturi earum, eum rerum, nihil aperiam, assumenda sed praesentium aut necessitatibus ex atque quidem consectetur officiis accusamus sint odio esse itaque nulla quia. Sequi, a molestias! Tenetur, modi.
    </p>
  </div>
</MainLayout>

<style>
  *,
  :before,
  :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 6rem;
  }
</style>
