---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Test" current="">
  <div class="login-box">
    <button id="getch-btn">Fetch</button>
    <p id="response-output">Response Placeholder</p>
  </div>
</MainLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const fetchBtn = document.getElementById("fetch-btn");
    const responseText = document.getElementById("response-output");
    fetchBtn?.addEventListener("click", async () => {
      const response = await fetch("/.netlify/functions/hello").then(
        (response) => response.json()
      );
      responseText.innerText = JSON.stringify(response);
    });
  });
</script>
