---
export interface Props {
  title?: string;
  body?: string;
  href?: string;
  imgSrc?: string;
  imgHeight?: string;
}

const { href, title, body } = Astro.props as Props;
---

<script></script>

<ul>
  <a href={href}>
    <li class="link-card">
      <h2 class="cardTitle">
        {title}
        <span>&rarr;</span>
      </h2>
      <p>
        {body}
      </p>
    </li>
  </a>
</ul>
<style>
  .link-card {
    background-color: #18a89023;
    border-radius: 1rem;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #18a890ad;
    padding: 2em;
    list-style: none;
  }
  .link-card:hover > h2 {
    animation: zoom 0.5s ease-in-out;
  }
  @keyframes zoom {
    0% {
    }
    20% {
      transform: scale(1.03);
    }
    100% {
    }
  }
</style>
