---
import ThemeChange from "./ThemeChange.astro";
const { current = "" } = Astro.props;
---

<script>
  document.querySelectorAll(".buttonContainer").forEach((el) => {
    function resetShake() {
      el.classList.remove("shake");
    }

    el.addEventListener("mouseover", () => {
      el.classList.add("shake");
      setTimeout(resetShake, 600);
    });
  });
</script>

<div id="nav-container">
  <a href="/" class="selected"> BONE SHARK WEB SOLUTIONS</a>
  <nav>
    <div class="buttonContainer">
      <a class={current === "work" ? "selected" : ""} href="/work">my work</a>
    </div>
    <div class="buttonContainer">
      <a class={current === "resume" ? "selected" : ""} href="/resume">resume</a
      >
    </div>
    <div class="buttonContainer">
      <a class={current === "articles" ? "selected" : ""} href="/articles"
        >articles</a
      >
    </div>
    <ThemeChange />
  </nav>
</div>

<style>
  nav {
    align-items: center;
    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  a {
    padding: 10px 5px;
  }

  nav a {
    display: block;
    position: relative;
    margin-right: 20px;
    min-width: 70px;
  }

  #nav-container {
    display: flex;
    background-color: var(--bg-color);

    padding: 0 6rem;
  }

  #icon-img {
    height: 100px;
    align-items: flex-start;
    object-fit: cover;
  }

  a:not(.selected) {
    opacity: 0.7;
    font-weight: 400;
  }

  .shake {
    animation: 0.6s ease-in-out text-shadow;
  }

  @keyframes text-shadow {
    0% {
      transform: translateY(0);
    }

    20% {
      transform: translateY(-0.5em);
    }

    40% {
      transform: translateY(0.25em);
    }

    60% {
      transform: translateY(-0.125em);
    }

    80% {
      transform: translateY(0);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
</style>
