---
const { current = "" } = Astro.props;
---

<nav>
    <a class={current === "" ? "selected" : ""} href="/">home</a>
    <a class={current === "about" ? "selected" : ""} href="/about">about</a>
    <a class={current === "blog" ? "selected" : ""} href="/blog">blog</a>
</nav>

<style>
    nav {
        align-items: center;
        display: flex;
        flex: 1;
        font-family: var(--font-family-sans);
        font-weight: 700;
        justify-content: flex-end;
        text-transform: uppercase;
    }

    nav a {
        color: inherit;
        text-decoration: none;
        padding: 10px 5px;
        display: block;
        position: relative;
        margin-left: 20px;
        min-width: 70px;
        text-align: center;
    }

    nav a.icon {
        display: block;
    }

    a.selected {
        text-decoration: underline;
    }
    a:not(.selected) {
        opacity: 0.7;
    }
</style>
