---
const { current = "" } = Astro.props;
---

<script>
  // TODO: Need to remove the shake css class after animation is done.
  function handleHover() {
    document.getElementById("buttonContainer")!.classList.add("shake");
  }

  document
    .getElementById("buttonContainer")!
    .addEventListener("mouseover", handleHover);
</script>

<div id="nav-container">
  <a href="/" class="icon selected">
    <img src="../../logo.png" alt="" id="icon-img" />
  </a>
  <nav>
    <div id="buttonContainer">
      <a class={current === "work" ? "selected" : ""} href="/work">my work</a>
    </div>
    <div class="buttonContainer">
      <a class={current === "resume" ? "selected" : ""} href="/resume">resume</a
      >
    </div>
    <div class="buttonContainer">
      <a class={current === "articles" ? "selected" : ""} href="/articles"
        >articles</a
      >
    </div>
  </nav>
</div>

<style>
  nav {
    align-items: center;
    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  nav a {
    padding: 10px 5px;
    display: block;
    position: relative;
    margin-left: 20px;
    min-width: 70px;
    text-align: center;
  }

  #nav-container {
    display: flex;
    background-color: var(--bg-color);
    padding: 10px;
  }

  #icon-img {
    width: 300px;
    align-items: flex-start;
    object-fit: cover;
  }

  a:not(.selected) {
    opacity: 0.7;
    font-weight: 400;
  }

  .shake {
    animation: 1.5s ease-in-out text-shadow;
  }

  @keyframes text-shadow {
    0% {
      transform: translateY(0);
      text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
    }

    20% {
      transform: translateY(-0.5em);
      text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
        0 -0.25em 0 #fefc4b;
    }

    40% {
      transform: translateY(0.25em);
      text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
        0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
    }

    60% {
      transform: translateY(-0.125em);
      text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
        0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
    }

    80% {
      transform: translateY(0);
      text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
</style>
