---
---

<div class="container">
  <h2 class="phrase" id="one">Phrase 1</h2>
  <h2 class="phrase" id="two">Phrase 2</h2>
  <h2 class="phrase" id="three">Phrase 3</h2>
  <h2 class="phrase" id="four">Phrase 4</h2>
</div>

<style>
  .container {
    position: relative;
  }
  .phrase {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
  }

  #one {
    animation: 5s 1 slidein;
  }
  #two {
    animation: 5s 1 slidein;
    animation-delay: 5s;
  }
  #three {
    animation: 5s 1 slidein;
    animation-delay: 10s;
  }
  #four {
    animation: 5s 1 slidein;
    animation-delay: 15s;
  }
  @keyframes slidein {
    0% {
      transform: translateY(30px) scaleY(0.2);
    }
    10% {
      opacity: 1;
    }
    20% {
      transform: translateY(0);
      transform: scaleY(1);
    }
    80% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.2);
    }
  }
</style>
