---
---

<div class="container">
  <h2 class="phrase" id="one">Combat veteran owned small business.</h2>
  <h2 class="phrase" id="two">No unnecessary code or complexity.</h2>
  <h2 class="phrase" id="three">User experience and logo design.</h2>
  <h2 class="phrase" id="four">Your web solitions company.</h2>
</div>

<style>
  .container {
    position: relative;
    height: 100px;
  }
  .phrase {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  #one {
    animation: 5s 1 slidein;
  }
  #two {
    animation: 5s 1 slidein;
    animation-delay: 5s;
  }
  #three {
    animation: 5s 1 slidein;
    animation-delay: 10s;
  }
  #four {
    animation: 20s 1 finalSlidein;
    opacity: 1;
  }
  @keyframes slidein {
    0% {
      transform: translatex(-50px);
    }
    10% {
      opacity: 1;
    }
    20% {
      transform: translatex(0);
    }
    80% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.2);
    }
  }
  @keyframes finalSlidein {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 0;
      transform: translatex(-50px);
    }
    80% {
      opacity: 1;
      transform: translate(0px);
    }
    100% {
      transform: translateY(0);
      transform: scaleY(1);
    }
  }
</style>
