---
---

<script></script>

<div class="container">
  <p>Softwear development is</p>
  <span class="word" id="letter1">exciting</span>
  <span class="word" id="letter2">demanding</span>
  <span class="word" id="letter3">fun</span>
  <span class="word" id="letter4">hard</span>
  <span class="word" id="letter5">tough</span>
</div>

<style>
  .word {
    display: none;
  }
  #letter2 {
    display: block;
  }
</style>
