---
---

<script>
  let i: number = 0;

  let count = function () {
    let word = document.getElementById("words");
    if (i < 4) {
      word?.children[i].classList.add("rotating");
      i++;
    } else {
      word?.children[i].classList.add("lastRotation");
      word?.children[i].classList.add("visible");
    }
  };

  setInterval(count, 2000);

  // Call the count function every 2 sec
</script>

<div class="container">
  <p class="lastRotation">Welcome to</p>
  <div id="words">
    <span>a combat veteran owned small business</span>
    <span>the start of something fresh</span>
    <span>graphic design built to impress</span>
    <span>web development driven by you</span>
    <span>Bone Shark. A web solutions company.</span>
  </div>
</div>

<style>
  span {
    opacity: 0;
    position: absolute;
  }

  #words {
    margin-bottom: 50px;
    right: 50px;
  }

  .visible {
    opacity: 1;
  }

  .rotating {
    animation: rotate 2.1s;
  }

  .lastRotation {
    animation: lastRotate 1.5s;
  }

  @keyframes rotate {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }
    20%,
    80% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, -25, 0);
    }
  }

  @keyframes lastRotate {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }
    20%,
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
</style>
