---
---

<script>
  // Function to make new word visible
  let newWord = (i: number) => {
    let word = document.getElementById("word" + i);
    if (word != undefined) {
      word.style.display = "block";
    }
  };

  // Function to make old word invisible
  let oldWord = (i: number) => {
    let word = document.getElementById("word" + i);
    if (word != undefined) {
      word.style.display = "none";
    }
  };

  // Set currentNumber and previousNumber
  let currentNumber: number = 0;
  let previousNumber: number = 0;

  // Function to count up to 5 on both the currentNumber and previousNumber.
  // This function also calls the newWord and oldWord function.
  let count = () => {
    if (currentNumber < 1) {
      previousNumber = 5;
    } else {
      previousNumber = currentNumber;
    }
    if (currentNumber < 5) {
      currentNumber++;
      newWord(currentNumber);
      oldWord(previousNumber);
    } else {
      currentNumber = 1;
      newWord(currentNumber);
      oldWord(previousNumber);
    }
  };

  // Call the count function every 2 sec
  setInterval(count, 2000);
</script>

<div class="container">
  <p>Softwear development is</p>
  <span class="word" id="word1">exciting</span>
  <span class="word" id="word2">demanding</span>
  <span class="word" id="word3">fun</span>
  <span class="word" id="word4">hard</span>
  <span class="word" id="word5">tough</span>
</div>

<style>
  .word {
    display: none;
  }
</style>
