---
import MobileNav from "../components/MobileNav.astro";
import Head from "../components/Head.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<title>{frontmatter.title}</title>
<Head />
<body>
  <MobileNav current="articles" />
  <main>
    <slot />
    <p>Written on: {frontmatter.date} by {frontmatter.author}</p>
  </main>
</body>
