---
import Nav from "../components/Nav.astro";
import Head from "../components/Head.astro";
import MobileNav from "../components/MobileNav.astro";
import "../styles/global.css";
export interface Props {
  title: string;
  current: string;
}

const { current, title } = Astro.props as Props;
---

<script>
  let bigNav: any = document.getElementById("bigNav");
  let mobileNav: any = document.getElementById("mobileNav");
  if (window.screen.width < 720) {
    bigNav.style.display = "none";
    mobileNav.style.display = "block";
  }
</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<Head />
<title>{title}</title>

<body>
  <div id="bigNav">
    <Nav current={current} />
  </div>
  <div id="mobileNav">
    <MobileNav current={current} />
  </div>

  <slot />
</body>

<style>
  #mobileNav {
    display: none;
  }
</style>
