---
import Nav from "../components/Nav.astro";
import Head from "../components/Head.astro";
import "../styles/global.css";
export interface Props {
  title: string;
  current: string;
}

const { current, title } = Astro.props as Props;
---

<script></script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<Head />
<title>{title}</title>

<body>
  <Nav current={current} />

  <slot />
</body>

<style></style>
