---
import MobileNav from "../components/MobileNav.astro";
import Head from "../components/Head.astro";
import "../styles/global.css";
---

<Head />
<body>
  <MobileNav current="articles" />
  <main>
    <slot />
  </main>
</body>
